#food{
    transition: 1.5s;

  }
  #food:hover {
    transform: scale(1.15)
}
#img{
background-image: url('https://images.pexels.com/photos/1931143/pexels-photo-1931143.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
#image{
  background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
#bg
{
  background-image: url('https://images.pexels.com/photos/2448749/pexels-photo-2448749.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}


